<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- To create menu-->
    <menuitem
            id="menu_hospital_root"
            name="Hospital"
            web_icon="om_hospital,static/description/icon.png"
            sequence="0"/>

    <!-- To create sub-menu-->
    <menuitem
            id="menu_patient_master"
            name="Patient Details"
            parent="menu_hospital_root"
            sequence="0"/>

     <menuitem
            id="menu_appointment_master"
            name="Appointment Details"
            parent="menu_hospital_root"
            sequence="10"/>

     <menuitem
            id="menu_pharmacy_master"
            name="Pharmacy Details"
            parent="menu_hospital_root"
            sequence="20"/>
</odoo>
